In [9]:
import pandas as pd
import numpy as np

In [25]:
october_df = pd.read_csv("../data/listings_october.csv.gz")

In [59]:
october_df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [2]:
# Load the datasets
august_df = pd.read_csv("../data/listings_cleaned_august.csv")
october_df = pd.read_csv("../data/listings_cleaned_october.csv")

# Extracting the IDs from both datasets
august_ids = august_df['id']
october_ids = october_df['id']

# Finding the common IDs in both datasets
common_ids = august_ids[august_ids.isin(october_ids)].unique()

# Display the list of common IDs
print(len(common_ids))

35980

Showing that price levels differ significantly before the regulations hit in september for short-term and medium-term hosts

In [19]:
august_df_10_min_nights = august_df[august_df['minimum_nights'] <= 10]
august_df_30_min_nights = august_df[august_df['minimum_nights'] == 30]

october_df_10_min_nights = october_df[october_df['minimum_nights'] <= 10]
october_df_30_min_nights = october_df[october_df['minimum_nights'] == 30]

august_df_10_min_nights['price'] = august_df_10_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)
august_df_30_min_nights['price'] = august_df_30_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)

october_df_10_min_nights['price'] = october_df_10_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)
october_df_30_min_nights['price'] = october_df_30_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)

C:\Users\Mikkel\AppData\Local\Temp\ipykernel_49556\249540212.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  august_df_10_min_nights['price'] = august_df_10_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\Mikkel\AppData\Local\Temp\ipykernel_49556\249540212.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  august_df_30_min_nights['price'] = august_df_30_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\Mikkel\AppData\Local\Temp\ipykernel_49556\249540212.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  october_df_10_min_nights['price'] = october_df_10_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\Mikkel\AppData\Local\Temp\ipykernel_49556\249540212.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  october_df_30_min_nights['price'] = october_df_30_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)

In [60]:
np.median(august_df_10_min_nights["price"])

159.0

In [61]:
np.median(august_df_30_min_nights["price"])

114.0

Showing the stubborness in short-term hosts to adjust prices, inspiring the need for feature importance

In [48]:
str_list = august_df_10_min_nights["id"]

In [49]:
november2022_df = pd.read_csv("../data/listings_november2022.csv.gz")

C:\Users\Mikkel\AppData\Local\Temp\ipykernel_49556\655029050.py:1: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  november2022_df = pd.read_csv("../data/listings_november2022.csv.gz")

In [50]:
november2022_df_10_min_nights = november2022_df[november2022_df['minimum_nights'] <= 10]


november2022_df_10_min_nights['price'] = november2022_df_10_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)

C:\Users\Mikkel\AppData\Local\Temp\ipykernel_49556\3498321000.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  november2022_df_10_min_nights['price'] = november2022_df_10_min_nights['price'].replace('[\$,]', '', regex=True).astype(float)

In [51]:
filtered_october_30_day = october_df_30_min_nights[october_df_30_min_nights['id'].isin(str_list)]

In [52]:
filtered_october_30_day

,id,name,host_id,host_since,host_is_superhost,host_listings_count,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,...,has_garage,has_hbo,has_pool,has_barbecue,has_tub,has_disney,has_bluetooth,has_wardrobe,imputed_review_score,distance_to_closest_subway
4,22280002,Rental unit in Brooklyn · ★4.98 · 1 bedroom · ...,67373899,2016-04-15,1,1.0,1.0,1,1,Bedford-Stuyvesant,...,1,0,0,0,0,0,0,0,0,0.291050
11,779600270049151163,Home in Queens · ★4.97 · 5 bedrooms · 7 beds ·...,49654304,2015-11-22,1,1.0,1.0,1,1,Bayside,...,0,0,0,0,1,0,0,0,0,5.340315
12,35430378,"Home in Laurelton , Queens · ★4.70 · 1 bedroo...",266645207,2019-06-05,0,2.0,5.0,1,0,Springfield Gardens,...,0,0,0,0,0,0,0,0,0,6.226829
26,9116734,Rental unit in Brooklyn · ★4.67 · 1 bedroom · ...,20318052,2014-08-20,1,1.0,2.0,1,0,Bedford-Stuyvesant,...,0,0,0,0,1,0,0,0,0,0.188756
27,702846702148318693,Rental unit in The Bronx · ★4.91 · 3 bedrooms ...,66394132,2016-04-08,1,1.0,1.0,1,1,North Riverdale,...,0,0,0,0,1,0,0,0,0,1.616198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38710,30686973,Guest suite in New York · ★4.97 · 1 bedroom · ...,229695499,2018-12-08,1,1.0,2.0,1,1,Lower East Side,...,0,0,0,0,0,0,0,0,0,0.359515
38778,736191441598456999,Rental unit in New York · 1 bedroom · 1 bed · ...,131086736,2017-05-19,0,1.0,1.0,1,1,Upper West Side,...,0,0,0,0,1,0,0,0,1,0.324942
38780,148825,Rental unit in New York · ★4.75 · 2 bedrooms ·...,718349,2011-06-19,1,5.0,6.0,1,1,Upper West Side,...,0,0,0,0,0,0,0,0,0,0.425113
38781,465706,Rental unit in New York · ★4.67 · 1 bedroom · ...,718349,2011-06-19,1,5.0,6.0,1,1,Upper West Side,...,0,0,0,0,0,0,0,0,0,0.350730
38782,27697402,Rental unit in Brooklyn · ★4.78 · 1 bedroom · ...,21020951,2014-09-06,1,1.0,6.0,1,1,Bedford-Stuyvesant,...,0,0,0,0,0,0,0,0,0,0.330622

In [63]:
np.median(filtered_october_30_day["price"])

146.0

In [54]:
august_df_10_min_nights.columns

Index(['id', 'name', 'host_id', 'host_since', 'host_is_superhost',
       'host_listings_count', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified',
       'neighbourhood_cleansed',
       ...
       'has_trash', 'has_compactor', 'has_garden', 'has_beach', 'has_old',
       'has_years', 'has_babysitter', 'has_recommendations',
       'imputed_review_score', 'distance_to_closest_subway'],
      dtype='object', length=219)

In [64]:
np.median(october_df_30_min_nights['price'])

125.0