In [1]:
import pandas as pd
import gzip
import matplotlib.pyplot as plt
import seaborn as sns
from tabulate import tabulate

In [2]:
#Listings, including full descriptions and average review score
#Reviews, including unique id for each reviewer and detailed comments
#Calendar, including listing id and the price and availability for that day

In [4]:
names = ['calendar', 'listings', 'reviews']
dataframes = {}

for name in names:
    # Define the file path
    file_path = 'data/' + name + '.csv.gz'
    # Use gzip.open to decompress the file and then read it with Pandas
    with gzip.open(file_path, 'rt', encoding='utf-8') as file:
        data = pd.read_csv(file)

    dataframes[name] = data

In [5]:
calendar = dataframes['calendar']
listings = dataframes['listings']
reviews = dataframes['reviews']

In [6]:
# We see that every date is included, but not every host has included leap year
listing_counts = calendar.groupby('listing_id')['date'].count().reset_index(name='row_count')
listing_counts['row_count'].unique()

array([365, 366], dtype=int64)

In [7]:
# Filter the DataFrame to only include rows where 'available' is 'f'
filtered_calendar = calendar[calendar['available'] == 'f']

# Group the filtered DataFrame by 'listing_id' and count the number of 'f' values
listing_counts = filtered_calendar.groupby('listing_id').size().reset_index(name='num_days_not_available')
listing_counts

               listing_id  num_days_not_available
0                    2595                      14
1                    5121                     214
2                    6848                     286
3                    6872                      70
4                    7064                     339
...                   ...                     ...
37216  992059954042123977                      96
37217  992091077050127349                     169
37218  992096613198031825                     118
37219  992729500548386711                     242
37220  992729511234270784                     184

[37221 rows x 2 columns]

In [8]:
df = listings.merge(listing_counts, left_on='id', right_on='listing_id', how='left')

In [9]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [9]:
listings['availability_365'].unique()

array([364,   0,  96, 343, 333, 152,  60, 365, 288,  52,  28,   2, 210,
        83,  89, 275, 283, 315, 270, 169, 150, 179, 282,  88, 354, 174,
       177, 105,  75, 246, 303, 361, 355, 337, 341, 183,  73, 224, 267,
       305,  77, 156,  87,  79, 269, 149, 309,  70, 363, 352, 302, 140,
       280, 122, 108, 145,  71, 251, 344, 167,  90, 347, 170,  61, 279,
       128, 223, 332,  24, 250, 353, 216, 290, 239, 240, 335,  85,  13,
       110, 307, 274, 189,  21, 277,  14,  92, 123, 118,  59, 259, 336,
       180, 359, 214,  46, 348,  62, 173, 161, 264, 126, 243,  97, 176,
       317, 316, 327, 182,  74, 265, 358, 325, 233, 320, 104, 313, 234,
       331, 263,  76, 338,  72, 175, 356, 360, 162, 192, 362, 166, 241,
       249, 300, 127, 133,  65, 272, 160, 248, 273, 163, 349, 268, 157,
        32,  86, 286,  29,  81, 154, 323, 159,  80, 138,  95, 321, 155,
       247, 310,  27,  69, 319, 146, 213, 253, 318, 261, 242, 311, 357,
        82,  94, 184, 222,  57,  33, 350, 132, 109, 304,  56, 334, 346,
       227, 181,  99, 306, 153, 139, 151, 292,  48,  58, 340,  47,   6,
       330, 209,  40, 135, 322,  34, 235, 120, 287,  15, 345, 158,  35,
        68,  49,   4,  44, 164, 137, 254, 298, 299, 297, 258, 124, 100,
       252, 308, 231, 293,  42,  84, 225, 329, 278,  25,  19,  22,  20,
       266, 276,  39, 215, 178, 324,   1,  98, 147, 165, 289, 114,  63,
       116,  93, 141, 112, 168, 119, 238, 204,  53, 301,   3, 131, 134,
       130, 143, 198, 328, 339, 194, 212,  91,  41,   9, 217, 197, 171,
       314, 230, 106,  12, 102, 103,   8, 107, 144, 226, 244,  31, 142,
       342, 291, 148,  78,  17,  38,   7,  30,  45,  11,  43,  36,  67,
        50, 284, 185, 260, 326, 312, 295, 255,  66, 193,  55, 115, 101,
       220, 121, 172, 351, 262,  16, 257, 199,  51, 186, 285, 281, 208,
       237, 201,  10, 129, 190, 117, 211, 200, 196, 202,  54, 219, 256,
       229,   5,  18,  26, 232, 191, 206,  64,  23, 271, 236, 228, 218,
       136, 187, 125, 245, 203,  37, 113, 111, 205, 188, 294, 296, 221,
       207, 195], dtype=int64)

In [10]:
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
df.head()

         id                            listing_url       scrape_id last_scraped           source                                               name                                        description                              neighborhood_overview                                        picture_url   host_id                                    host_url  host_name  host_since host_location                                        host_about host_response_time host_response_rate host_acceptance_rate host_is_superhost                                 host_thumbnail_url                                   host_picture_url  host_neighbourhood  host_listings_count  host_total_listings_count                host_verifications host_has_profile_pic host_identity_verified                       neighbourhood neighbourhood_cleansed neighbourhood_group_cleansed  latitude  longitude                property_type        room_type  accommodates  bathrooms bathrooms_text  bedrooms  beds                                          amenities    price  minimum_nights  maximum_nights  minimum_minimum_nights  maximum_minimum_nights  minimum_maximum_nights  maximum_maximum_nights  minimum_nights_avg_ntm  maximum_nights_avg_ntm  calendar_updated has_availability  availability_30  availability_60  availability_90  availability_365 calendar_last_scraped  number_of_reviews  number_of_reviews_ltm  number_of_reviews_l30d first_review last_review  review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value license instant_bookable  calculated_host_listings_count  calculated_host_listings_count_entire_homes  calculated_host_listings_count_private_rooms  calculated_host_listings_count_shared_rooms  reviews_per_month  listing_id  num_days_not_available
0   9630344   https://www.airbnb.com/rooms/9630344  20231001204715   2023-10-02      city scrape  Rental unit in Brooklyn  · ★4.80 · 1 bedroom ·...  Enjoy your own private bedroom in our 2 bedroo...       Easy access to subway. Trendy and yet quiet.  https://a0.muscache.com/pictures/496cf3f1-7d0d...  47783628  https://www.airbnb.com/users/show/47783628  Tiffannie  2015-10-30  New York, NY                                               NaN                NaN                NaN                  NaN                 f  https://a0.muscache.com/im/pictures/user/5c087...  https://a0.muscache.com/im/pictures/user/5c087...                 NaN                  1.0                        2.0                ['email', 'phone']                    t                      f  Brooklyn , New York, United States               Bushwick                     Brooklyn  40.68457  -73.91181  Private room in rental unit     Private room             1        NaN  1 shared bath       NaN   1.0  ["Body soap", "Dryer", "Refrigerator", "Wifi",...   $65.00              30              30                      30                      30                      30                      30                    30.0                    30.0               NaN                t               29               59               89               364            2023-10-02                  5                      0                       0   2016-08-14  2018-04-30                  4.80                     4.6                       5.00                   5.00                         5.00                    4.80                 5.00     NaN                f                               1                                            0                                             1                                            0               0.06   9630344.0                     1.0
1   3533741   https://www.airbnb.com/rooms/3533741  20231001204715   2023-10-02  previous scrape  Rental unit in New York · 1 bedroom · 1 bed · ...  Come stay in the heart of historic Hells Kitch...                                                NaN  https://a0.muscache.com/pictures/45157664/862a...  17791294  https://www.airbnb.com/users/show/17791294     Taylor  2014-07-07  New York, NY                                               NaN                NaN                NaN                  NaN                 f  https://a0.muscache.com/im/pictures/user/e204b...  https://a0.muscache.com/im/pictures/user/e204b...      Hell's Kitchen                  1.0                        1.0                ['email', 'phone']                    t                      t                                 NaN         Hell's Kitchen                    Manhattan  40.76878  -73.98719  Private room in rental unit     Private room             2        NaN         1 bath       1.0   1.0  ["Smoke alarm", "Kitchen", "Air conditioning",...  $110.00              30            1125                      30                      30                    1125                    1125                    30.0                  1125.0               NaN                f                0                0                0                 0            2023-10-02                  0                      0                       0          NaN         NaN                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN     NaN                f                               1                                            0                                             1                                            0                NaN   3533741.0                   365.0
2   9731039   https://www.airbnb.com/rooms/9731039  20231001204715   2023-10-02  previous scrape    Rental unit in Queens · Studio · 1 bed · 1 bath  Studio Apartment in the heart of Sunnyside: of...                                                NaN  https://a0.muscache.com/pictures/81a96b92-d357...  50213378  https://www.airbnb.com/users/show/50213378       Mark  2015-11-30  New York, NY                                               NaN                NaN                NaN                  NaN                 f  https://a0.muscache.com/im/pictures/user/65d77...  https://a0.muscache.com/im/pictures/user/65d77...           Sunnyside                  1.0                        1.0                ['email', 'phone']                    t                      f                                 NaN              Sunnyside                       Queens  40.74343  -73.91865           Entire rental unit  Entire home/apt             1        NaN         1 bath       NaN   1.0  ["Smoke alarm", "Kitchen", "Washer", "TV", "Ai...   $99.00              30            1125                      30                      30                    1125                    1125                    30.0                  1125.0               NaN                t                0                0                0                 0            2023-10-02                  0                      0                       0          NaN         NaN                   NaN                     NaN                        NaN                    NaN                          NaN                     NaN                  NaN     NaN                f                               1                                            1                                             0                                            0                NaN   9731039.0                   365.0
3  21736164  https://www.airbnb.com/rooms/21736164  20231001204715   2023-10-02  previous scrape  Rental unit in Brooklyn · 1 bedroom · 1 bed · ...  Light-filled, high-ceilinged 1BR brownstone ap...  The neighborhood is vibrant, multicultural, an...  https://a0.muscache.com/pictures/4e3ee5e2-baa1...   4298654   https://www.airbnb.com/users/show/4298654        Sam  2012-12-01  New York, NY  Lawyer / musician / appreciator of native ferns.                NaN                NaN                  NaN                 f  https://a0.muscache.com/im/users/4298654/profi...  https://a0.muscache.com/im/users/4298654/profi...  Bedford-Stuyvesant                  1.0                        2.0  ['email', 'phone', 'work_email']                    t                      t   Brooklyn, New York, United States     Bedford-Stuyvesant                     Brooklyn  40.68180  -73.93121           Entire rental unit  Entire home/apt             2        NaN         1 bath       1.0   1.0  ["Smoke alarm", "Kitchen", "Shampoo", "Long te...   $70.00              45            1125                      45                      45                    1125                    1125                    45.0                  1125.0               NaN                t                0                0                0                 0            2023-10-02                  2                      0                       0   2018-01-07  2019-01-20                  5.00                     5.0                       5.00                   5.00                         5.00                    5.00                 5.00     NaN                f                               1                                            1                                             0                                            0               0.03  21736164.0                   365.0
4  22280002  https://www.airbnb.com/rooms/22280002  20231001204715   2023-10-01      city scrape  Rental unit in Brooklyn · ★4.98 · 1 bedroom · ...  This is a comfortable super spacious sunny 1 b...  Welcome to the enchanting neighborhood of Stuy...  https://a0.muscache.com/pictures/b187bce7-ded7...  67373899  https://www.airbnb.com/users/show/67373899       Will  2016-04-15  New York, NY                                     Globetrotter.                NaN                NaN                 100%                 t  https://a0.muscache.com/im/pictures/user/41ec9...  https://a0.muscache.com/im/pictures/user/41ec9...  Bedford-Stuyvesant                  1.0                        1.0                ['email', 'phone']                    t                      t   Brooklyn, New York, United States     Bedford-Stuyvesant                     Brooklyn  40.68209  -73.94279           Entire rental unit  Entire home/apt             4        NaN         1 bath       1.0   2.0  ["Clothing storage: closet and dresser", "Micr...  $170.00              30             180                      30                      30                    1125                    1125                    30.0                  1125.0               NaN                t                3               20               35                96            2023-10-01                 88                     14                       0   2017-12-30  2023-06-20                  4.98                     5.0                       4.99                   4.95                         4.91                    4.94                 4.92     NaN                f                               1                                            1                                             0                                            0               1.26  22280002.0                   269.0

### NaN values

In [11]:
# Get the missing data counts
missing_data = df.isna().sum()

# Convert the missing_data Series to a DataFrame for formatting
missing_data_df = missing_data.reset_index()
missing_data_df.columns = ['Column', 'Missing Count']

# Print the missing data counts as a nicely formatted table
print(tabulate(missing_data_df, headers='keys', tablefmt='pretty'))

+----+----------------------------------------------+---------------+
|    |                    Column                    | Missing Count |
+----+----------------------------------------------+---------------+
| 0  |                      id                      |       0       |
| 1  |                 listing_url                  |       0       |
| 2  |                  scrape_id                   |       0       |
| 3  |                 last_scraped                 |       0       |
| 4  |                    source                    |       0       |
| 5  |                     name                     |       0       |
| 6  |                 description                  |      569      |
| 7  |            neighborhood_overview             |     16236     |
| 8  |                 picture_url                  |       0       |
| 9  |                   host_id                    |       0       |
| 10 |                   host_url                   |       0       |
| 11 |                  host_name                   |       5       |
| 12 |                  host_since                  |       5       |
| 13 |                host_location                 |     8277      |
| 14 |                  host_about                  |     17149     |
| 15 |              host_response_time              |     13174     |
| 16 |              host_response_rate              |     13174     |
| 17 |             host_acceptance_rate             |     11904     |
| 18 |              host_is_superhost               |      255      |
| 19 |              host_thumbnail_url              |       5       |
| 20 |               host_picture_url               |       5       |
| 21 |              host_neighbourhood              |     7752      |
| 22 |             host_listings_count              |       5       |
| 23 |          host_total_listings_count           |       5       |
| 24 |              host_verifications              |       5       |
| 25 |             host_has_profile_pic             |       5       |
| 26 |            host_identity_verified            |       5       |
| 27 |                neighbourhood                 |     16235     |
| 28 |            neighbourhood_cleansed            |       0       |
| 29 |         neighbourhood_group_cleansed         |       0       |
| 30 |                   latitude                   |       0       |
| 31 |                  longitude                   |       0       |
| 32 |                property_type                 |       0       |
| 33 |                  room_type                   |       0       |
| 34 |                 accommodates                 |       0       |
| 35 |                  bathrooms                   |     38792     |
| 36 |                bathrooms_text                |      42       |
| 37 |                   bedrooms                   |     16900     |
| 38 |                     beds                     |      663      |
| 39 |                  amenities                   |       0       |
| 40 |                    price                     |       0       |
| 41 |                minimum_nights                |       0       |
| 42 |                maximum_nights                |       0       |
| 43 |            minimum_minimum_nights            |       0       |
| 44 |            maximum_minimum_nights            |       0       |
| 45 |            minimum_maximum_nights            |       0       |
| 46 |            maximum_maximum_nights            |       0       |
| 47 |            minimum_nights_avg_ntm            |       0       |
| 48 |            maximum_nights_avg_ntm            |       0       |
| 49 |               calendar_updated               |     38792     |
| 50 |               has_availability               |       0       |
| 51 |               availability_30                |       0       |
| 52 |               availability_60                |       0       |
| 53 |               availability_90                |       0       |
| 54 |               availability_365               |       0       |
| 55 |            calendar_last_scraped             |       0       |
| 56 |              number_of_reviews               |       0       |
| 57 |            number_of_reviews_ltm             |       0       |
| 58 |            number_of_reviews_l30d            |       0       |
| 59 |                 first_review                 |     10352     |
| 60 |                 last_review                  |     10352     |
| 61 |             review_scores_rating             |     10347     |
| 62 |            review_scores_accuracy            |     10762     |
| 63 |          review_scores_cleanliness           |     10752     |
| 64 |            review_scores_checkin             |     10766     |
| 65 |         review_scores_communication          |     10758     |
| 66 |            review_scores_location            |     10769     |
| 67 |             review_scores_value              |     10768     |
| 68 |                   license                    |     35853     |
| 69 |               instant_bookable               |       0       |
| 70 |        calculated_host_listings_count        |       0       |
| 71 | calculated_host_listings_count_entire_homes  |       0       |
| 72 | calculated_host_listings_count_private_rooms |       0       |
| 73 | calculated_host_listings_count_shared_rooms  |       0       |
| 74 |              reviews_per_month               |     10352     |
| 75 |                  listing_id                  |     1571      |
| 76 |            num_days_not_available            |     1571      |
+----+----------------------------------------------+---------------+

In [12]:
# Calculate the percentage of NaN values in each column
nan_percentage = (df.isna().mean() * 100).round(2)

# Convert the nan_percentage Series to a DataFrame for formatting
nan_percentage_df = nan_percentage.reset_index()
nan_percentage_df.columns = ['Column', 'NaN Percentage']

# Print the nan_percentage as a nicely formatted table
print(tabulate(nan_percentage_df, headers='keys', tablefmt='pretty'))

+----+----------------------------------------------+----------------+
|    |                    Column                    | NaN Percentage |
+----+----------------------------------------------+----------------+
| 0  |                      id                      |      0.0       |
| 1  |                 listing_url                  |      0.0       |
| 2  |                  scrape_id                   |      0.0       |
| 3  |                 last_scraped                 |      0.0       |
| 4  |                    source                    |      0.0       |
| 5  |                     name                     |      0.0       |
| 6  |                 description                  |      1.47      |
| 7  |            neighborhood_overview             |     41.85      |
| 8  |                 picture_url                  |      0.0       |
| 9  |                   host_id                    |      0.0       |
| 10 |                   host_url                   |      0.0       |
| 11 |                  host_name                   |      0.01      |
| 12 |                  host_since                  |      0.01      |
| 13 |                host_location                 |     21.34      |
| 14 |                  host_about                  |     44.21      |
| 15 |              host_response_time              |     33.96      |
| 16 |              host_response_rate              |     33.96      |
| 17 |             host_acceptance_rate             |     30.69      |
| 18 |              host_is_superhost               |      0.66      |
| 19 |              host_thumbnail_url              |      0.01      |
| 20 |               host_picture_url               |      0.01      |
| 21 |              host_neighbourhood              |     19.98      |
| 22 |             host_listings_count              |      0.01      |
| 23 |          host_total_listings_count           |      0.01      |
| 24 |              host_verifications              |      0.01      |
| 25 |             host_has_profile_pic             |      0.01      |
| 26 |            host_identity_verified            |      0.01      |
| 27 |                neighbourhood                 |     41.85      |
| 28 |            neighbourhood_cleansed            |      0.0       |
| 29 |         neighbourhood_group_cleansed         |      0.0       |
| 30 |                   latitude                   |      0.0       |
| 31 |                  longitude                   |      0.0       |
| 32 |                property_type                 |      0.0       |
| 33 |                  room_type                   |      0.0       |
| 34 |                 accommodates                 |      0.0       |
| 35 |                  bathrooms                   |     100.0      |
| 36 |                bathrooms_text                |      0.11      |
| 37 |                   bedrooms                   |     43.57      |
| 38 |                     beds                     |      1.71      |
| 39 |                  amenities                   |      0.0       |
| 40 |                    price                     |      0.0       |
| 41 |                minimum_nights                |      0.0       |
| 42 |                maximum_nights                |      0.0       |
| 43 |            minimum_minimum_nights            |      0.0       |
| 44 |            maximum_minimum_nights            |      0.0       |
| 45 |            minimum_maximum_nights            |      0.0       |
| 46 |            maximum_maximum_nights            |      0.0       |
| 47 |            minimum_nights_avg_ntm            |      0.0       |
| 48 |            maximum_nights_avg_ntm            |      0.0       |
| 49 |               calendar_updated               |     100.0      |
| 50 |               has_availability               |      0.0       |
| 51 |               availability_30                |      0.0       |
| 52 |               availability_60                |      0.0       |
| 53 |               availability_90                |      0.0       |
| 54 |               availability_365               |      0.0       |
| 55 |            calendar_last_scraped             |      0.0       |
| 56 |              number_of_reviews               |      0.0       |
| 57 |            number_of_reviews_ltm             |      0.0       |
| 58 |            number_of_reviews_l30d            |      0.0       |
| 59 |                 first_review                 |     26.69      |
| 60 |                 last_review                  |     26.69      |
| 61 |             review_scores_rating             |     26.67      |
| 62 |            review_scores_accuracy            |     27.74      |
| 63 |          review_scores_cleanliness           |     27.72      |
| 64 |            review_scores_checkin             |     27.75      |
| 65 |         review_scores_communication          |     27.73      |
| 66 |            review_scores_location            |     27.76      |
| 67 |             review_scores_value              |     27.76      |
| 68 |                   license                    |     92.42      |
| 69 |               instant_bookable               |      0.0       |
| 70 |        calculated_host_listings_count        |      0.0       |
| 71 | calculated_host_listings_count_entire_homes  |      0.0       |
| 72 | calculated_host_listings_count_private_rooms |      0.0       |
| 73 | calculated_host_listings_count_shared_rooms  |      0.0       |
| 74 |              reviews_per_month               |     26.69      |
| 75 |                  listing_id                  |      4.05      |
| 76 |            num_days_not_available            |      4.05      |
+----+----------------------------------------------+----------------+

### Find unique values and types

In [13]:
# Get the number of unique values in each column
unique_counts = df.nunique()

# Convert the unique_counts Series to a DataFrame for formatting
unique_counts_df = unique_counts.reset_index()
unique_counts_df.columns = ['Column', 'Unique Counts']

# Print the unique_counts as a nicely formatted table
print(tabulate(unique_counts_df, headers='keys', tablefmt='pretty'))

+----+----------------------------------------------+---------------+
|    |                    Column                    | Unique Counts |
+----+----------------------------------------------+---------------+
| 0  |                      id                      |     38792     |
| 1  |                 listing_url                  |     38792     |
| 2  |                  scrape_id                   |       1       |
| 3  |                 last_scraped                 |       2       |
| 4  |                    source                    |       2       |
| 5  |                     name                     |     12050     |
| 6  |                 description                  |     34050     |
| 7  |            neighborhood_overview             |     16917     |
| 8  |                 picture_url                  |     37938     |
| 9  |                   host_id                    |     23811     |
| 10 |                   host_url                   |     23811     |
| 11 |                  host_name                   |     8828      |
| 12 |                  host_since                  |     4842      |
| 13 |                host_location                 |     1022      |
| 14 |                  host_about                  |     12394     |
| 15 |              host_response_time              |       4       |
| 16 |              host_response_rate              |      80       |
| 17 |             host_acceptance_rate             |      99       |
| 18 |              host_is_superhost               |       2       |
| 19 |              host_thumbnail_url              |     23307     |
| 20 |               host_picture_url               |     23307     |
| 21 |              host_neighbourhood              |      525      |
| 22 |             host_listings_count              |      114      |
| 23 |          host_total_listings_count           |      137      |
| 24 |              host_verifications              |       7       |
| 25 |             host_has_profile_pic             |       2       |
| 26 |            host_identity_verified            |       2       |
| 27 |                neighbourhood                 |      174      |
| 28 |            neighbourhood_cleansed            |      223      |
| 29 |         neighbourhood_group_cleansed         |       5       |
| 30 |                   latitude                   |     23362     |
| 31 |                  longitude                   |     21020     |
| 32 |                property_type                 |      81       |
| 33 |                  room_type                   |       4       |
| 34 |                 accommodates                 |      16       |
| 35 |                  bathrooms                   |       0       |
| 36 |                bathrooms_text                |      32       |
| 37 |                   bedrooms                   |      15       |
| 38 |                     beds                     |      19       |
| 39 |                  amenities                   |     32035     |
| 40 |                    price                     |     1184      |
| 41 |                minimum_nights                |      114      |
| 42 |                maximum_nights                |      256      |
| 43 |            minimum_minimum_nights            |      121      |
| 44 |            maximum_minimum_nights            |      122      |
| 45 |            minimum_maximum_nights            |      232      |
| 46 |            maximum_maximum_nights            |      236      |
| 47 |            minimum_nights_avg_ntm            |      360      |
| 48 |            maximum_nights_avg_ntm            |      908      |
| 49 |               calendar_updated               |       0       |
| 50 |               has_availability               |       2       |
| 51 |               availability_30                |      31       |
| 52 |               availability_60                |      61       |
| 53 |               availability_90                |      91       |
| 54 |               availability_365               |      366      |
| 55 |            calendar_last_scraped             |       2       |
| 56 |              number_of_reviews               |      465      |
| 57 |            number_of_reviews_ltm             |      144      |
| 58 |            number_of_reviews_l30d            |      26       |
| 59 |                 first_review                 |     3962      |
| 60 |                 last_review                  |     2924      |
| 61 |             review_scores_rating             |      161      |
| 62 |            review_scores_accuracy            |      159      |
| 63 |          review_scores_cleanliness           |      193      |
| 64 |            review_scores_checkin             |      135      |
| 65 |         review_scores_communication          |      146      |
| 66 |            review_scores_location            |      161      |
| 67 |             review_scores_value              |      165      |
| 68 |                   license                    |      278      |
| 69 |               instant_bookable               |       2       |
| 70 |        calculated_host_listings_count        |      70       |
| 71 | calculated_host_listings_count_entire_homes  |      56       |
| 72 | calculated_host_listings_count_private_rooms |      43       |
| 73 | calculated_host_listings_count_shared_rooms  |       8       |
| 74 |              reviews_per_month               |      822      |
| 75 |                  listing_id                  |     37221     |
| 76 |            num_days_not_available            |      365      |
+----+----------------------------------------------+---------------+

In [14]:
# Get the data types of each column
column_types = df.dtypes.reset_index()
column_types.columns = ['Column', 'Data Type']

# Print the column data types as a nicely formatted table
print(tabulate(column_types, headers='keys', tablefmt='pretty'))

+----+----------------------------------------------+-----------+
|    |                    Column                    | Data Type |
+----+----------------------------------------------+-----------+
| 0  |                      id                      |   int64   |
| 1  |                 listing_url                  |  object   |
| 2  |                  scrape_id                   |   int64   |
| 3  |                 last_scraped                 |  object   |
| 4  |                    source                    |  object   |
| 5  |                     name                     |  object   |
| 6  |                 description                  |  object   |
| 7  |            neighborhood_overview             |  object   |
| 8  |                 picture_url                  |  object   |
| 9  |                   host_id                    |   int64   |
| 10 |                   host_url                   |  object   |
| 11 |                  host_name                   |  object   |
| 12 |                  host_since                  |  object   |
| 13 |                host_location                 |  object   |
| 14 |                  host_about                  |  object   |
| 15 |              host_response_time              |  object   |
| 16 |              host_response_rate              |  object   |
| 17 |             host_acceptance_rate             |  object   |
| 18 |              host_is_superhost               |  object   |
| 19 |              host_thumbnail_url              |  object   |
| 20 |               host_picture_url               |  object   |
| 21 |              host_neighbourhood              |  object   |
| 22 |             host_listings_count              |  float64  |
| 23 |          host_total_listings_count           |  float64  |
| 24 |              host_verifications              |  object   |
| 25 |             host_has_profile_pic             |  object   |
| 26 |            host_identity_verified            |  object   |
| 27 |                neighbourhood                 |  object   |
| 28 |            neighbourhood_cleansed            |  object   |
| 29 |         neighbourhood_group_cleansed         |  object   |
| 30 |                   latitude                   |  float64  |
| 31 |                  longitude                   |  float64  |
| 32 |                property_type                 |  object   |
| 33 |                  room_type                   |  object   |
| 34 |                 accommodates                 |   int64   |
| 35 |                  bathrooms                   |  float64  |
| 36 |                bathrooms_text                |  object   |
| 37 |                   bedrooms                   |  float64  |
| 38 |                     beds                     |  float64  |
| 39 |                  amenities                   |  object   |
| 40 |                    price                     |  object   |
| 41 |                minimum_nights                |   int64   |
| 42 |                maximum_nights                |   int64   |
| 43 |            minimum_minimum_nights            |   int64   |
| 44 |            maximum_minimum_nights            |   int64   |
| 45 |            minimum_maximum_nights            |   int64   |
| 46 |            maximum_maximum_nights            |   int64   |
| 47 |            minimum_nights_avg_ntm            |  float64  |
| 48 |            maximum_nights_avg_ntm            |  float64  |
| 49 |               calendar_updated               |  float64  |
| 50 |               has_availability               |  object   |
| 51 |               availability_30                |   int64   |
| 52 |               availability_60                |   int64   |
| 53 |               availability_90                |   int64   |
| 54 |               availability_365               |   int64   |
| 55 |            calendar_last_scraped             |  object   |
| 56 |              number_of_reviews               |   int64   |
| 57 |            number_of_reviews_ltm             |   int64   |
| 58 |            number_of_reviews_l30d            |   int64   |
| 59 |                 first_review                 |  object   |
| 60 |                 last_review                  |  object   |
| 61 |             review_scores_rating             |  float64  |
| 62 |            review_scores_accuracy            |  float64  |
| 63 |          review_scores_cleanliness           |  float64  |
| 64 |            review_scores_checkin             |  float64  |
| 65 |         review_scores_communication          |  float64  |
| 66 |            review_scores_location            |  float64  |
| 67 |             review_scores_value              |  float64  |
| 68 |                   license                    |  object   |
| 69 |               instant_bookable               |  object   |
| 70 |        calculated_host_listings_count        |   int64   |
| 71 | calculated_host_listings_count_entire_homes  |   int64   |
| 72 | calculated_host_listings_count_private_rooms |   int64   |
| 73 | calculated_host_listings_count_shared_rooms  |   int64   |
| 74 |              reviews_per_month               |  float64  |
| 75 |                  listing_id                  |  float64  |
| 76 |            num_days_not_available            |  float64  |
+----+----------------------------------------------+-----------+

## Exploring Listing feature set, what can we remove?

In [10]:
# Get the number of unique values in each column
unique_counts = listings.nunique()

# Convert the unique_counts Series to a DataFrame for formatting
unique_counts_df = unique_counts.reset_index()
unique_counts_df.columns = ['Column', 'Unique Counts']

# Print the unique_counts as a nicely formatted table
print(tabulate(unique_counts_df, headers='keys', tablefmt='pretty'))

+----+----------------------------------------------+---------------+
|    |                    Column                    | Unique Counts |
+----+----------------------------------------------+---------------+
| 0  |                      id                      |     38792     |
| 1  |                 listing_url                  |     38792     |
| 2  |                  scrape_id                   |       1       |
| 3  |                 last_scraped                 |       2       |
| 4  |                    source                    |       2       |
| 5  |                     name                     |     12050     |
| 6  |                 description                  |     34050     |
| 7  |            neighborhood_overview             |     16917     |
| 8  |                 picture_url                  |     37938     |
| 9  |                   host_id                    |     23811     |
| 10 |                   host_url                   |     23811     |
| 11 |                  host_name                   |     8828      |
| 12 |                  host_since                  |     4842      |
| 13 |                host_location                 |     1022      |
| 14 |                  host_about                  |     12394     |
| 15 |              host_response_time              |       4       |
| 16 |              host_response_rate              |      80       |
| 17 |             host_acceptance_rate             |      99       |
| 18 |              host_is_superhost               |       2       |
| 19 |              host_thumbnail_url              |     23307     |
| 20 |               host_picture_url               |     23307     |
| 21 |              host_neighbourhood              |      525      |
| 22 |             host_listings_count              |      114      |
| 23 |          host_total_listings_count           |      137      |
| 24 |              host_verifications              |       7       |
| 25 |             host_has_profile_pic             |       2       |
| 26 |            host_identity_verified            |       2       |
| 27 |                neighbourhood                 |      174      |
| 28 |            neighbourhood_cleansed            |      223      |
| 29 |         neighbourhood_group_cleansed         |       5       |
| 30 |                   latitude                   |     23362     |
| 31 |                  longitude                   |     21020     |
| 32 |                property_type                 |      81       |
| 33 |                  room_type                   |       4       |
| 34 |                 accommodates                 |      16       |
| 35 |                  bathrooms                   |       0       |
| 36 |                bathrooms_text                |      32       |
| 37 |                   bedrooms                   |      15       |
| 38 |                     beds                     |      19       |
| 39 |                  amenities                   |     32035     |
| 40 |                    price                     |     1184      |
| 41 |                minimum_nights                |      114      |
| 42 |                maximum_nights                |      256      |
| 43 |            minimum_minimum_nights            |      121      |
| 44 |            maximum_minimum_nights            |      122      |
| 45 |            minimum_maximum_nights            |      232      |
| 46 |            maximum_maximum_nights            |      236      |
| 47 |            minimum_nights_avg_ntm            |      360      |
| 48 |            maximum_nights_avg_ntm            |      908      |
| 49 |               calendar_updated               |       0       |
| 50 |               has_availability               |       2       |
| 51 |               availability_30                |      31       |
| 52 |               availability_60                |      61       |
| 53 |               availability_90                |      91       |
| 54 |               availability_365               |      366      |
| 55 |            calendar_last_scraped             |       2       |
| 56 |              number_of_reviews               |      465      |
| 57 |            number_of_reviews_ltm             |      144      |
| 58 |            number_of_reviews_l30d            |      26       |
| 59 |                 first_review                 |     3962      |
| 60 |                 last_review                  |     2924      |
| 61 |             review_scores_rating             |      161      |
| 62 |            review_scores_accuracy            |      159      |
| 63 |          review_scores_cleanliness           |      193      |
| 64 |            review_scores_checkin             |      135      |
| 65 |         review_scores_communication          |      146      |
| 66 |            review_scores_location            |      161      |
| 67 |             review_scores_value              |      165      |
| 68 |                   license                    |      278      |
| 69 |               instant_bookable               |       2       |
| 70 |        calculated_host_listings_count        |      70       |
| 71 | calculated_host_listings_count_entire_homes  |      56       |
| 72 | calculated_host_listings_count_private_rooms |      43       |
| 73 | calculated_host_listings_count_shared_rooms  |       8       |
| 74 |              reviews_per_month               |      822      |
+----+----------------------------------------------+---------------+

## Features som burde fjernes

#### listing_url, scrape_id, last_scraped, source, host_url, host_name, host_thumbnail_url, host_picture_url, license (noen steder må man ha lisens, kunder ser ikke dette), calender_last_scraped, calendar_updated (kun NaN)

## Features som krever tekstsøk 
#### description, neighborhood_overview, host_about

## Features som burde fjernes pga mange NaN values:
#### Neighbourhood (kan erstattes av clustering med lat/lon), bathrooms (NaN imputation muligheter med bathroom text), bedrooms (NaN imputation muligheter?)

In [28]:
listings[["host_listings_count", "host_total_listings_count"]]

       host_listings_count  host_total_listings_count
0                      1.0                        2.0
1                      1.0                        1.0
2                      1.0                        1.0
3                      1.0                        2.0
4                      1.0                        1.0
...                    ...                        ...
38787                  1.0                        6.0
38788                  2.0                        3.0
38789                  2.0                        3.0
38790                  2.0                        6.0
38791                  2.0                        6.0

[38792 rows x 2 columns]

In [19]:
# Calculate the percentage of NaN values in each column
nan_percentage = (listings.isna().mean() * 100).round(2)

# Convert the nan_percentage Series to a DataFrame for formatting
nan_percentage_df = nan_percentage.reset_index()
nan_percentage_df.columns = ['Column', 'NaN Percentage']

# Print the nan_percentage as a nicely formatted table
print(tabulate(nan_percentage_df, headers='keys', tablefmt='pretty'))

+----+----------------------------------------------+----------------+
|    |                    Column                    | NaN Percentage |
+----+----------------------------------------------+----------------+
| 0  |                      id                      |      0.0       |
| 1  |                 listing_url                  |      0.0       |
| 2  |                  scrape_id                   |      0.0       |
| 3  |                 last_scraped                 |      0.0       |
| 4  |                    source                    |      0.0       |
| 5  |                     name                     |      0.0       |
| 6  |                 description                  |      1.47      |
| 7  |            neighborhood_overview             |     41.85      |
| 8  |                 picture_url                  |      0.0       |
| 9  |                   host_id                    |      0.0       |
| 10 |                   host_url                   |      0.0       |
| 11 |                  host_name                   |      0.01      |
| 12 |                  host_since                  |      0.01      |
| 13 |                host_location                 |     21.34      |
| 14 |                  host_about                  |     44.21      |
| 15 |              host_response_time              |     33.96      |
| 16 |              host_response_rate              |     33.96      |
| 17 |             host_acceptance_rate             |     30.69      |
| 18 |              host_is_superhost               |      0.66      |
| 19 |              host_thumbnail_url              |      0.01      |
| 20 |               host_picture_url               |      0.01      |
| 21 |              host_neighbourhood              |     19.98      |
| 22 |             host_listings_count              |      0.01      |
| 23 |          host_total_listings_count           |      0.01      |
| 24 |              host_verifications              |      0.01      |
| 25 |             host_has_profile_pic             |      0.01      |
| 26 |            host_identity_verified            |      0.01      |
| 27 |                neighbourhood                 |     41.85      |
| 28 |            neighbourhood_cleansed            |      0.0       |
| 29 |         neighbourhood_group_cleansed         |      0.0       |
| 30 |                   latitude                   |      0.0       |
| 31 |                  longitude                   |      0.0       |
| 32 |                property_type                 |      0.0       |
| 33 |                  room_type                   |      0.0       |
| 34 |                 accommodates                 |      0.0       |
| 35 |                  bathrooms                   |     100.0      |
| 36 |                bathrooms_text                |      0.11      |
| 37 |                   bedrooms                   |     43.57      |
| 38 |                     beds                     |      1.71      |
| 39 |                  amenities                   |      0.0       |
| 40 |                    price                     |      0.0       |
| 41 |                minimum_nights                |      0.0       |
| 42 |                maximum_nights                |      0.0       |
| 43 |            minimum_minimum_nights            |      0.0       |
| 44 |            maximum_minimum_nights            |      0.0       |
| 45 |            minimum_maximum_nights            |      0.0       |
| 46 |            maximum_maximum_nights            |      0.0       |
| 47 |            minimum_nights_avg_ntm            |      0.0       |
| 48 |            maximum_nights_avg_ntm            |      0.0       |
| 49 |               calendar_updated               |     100.0      |
| 50 |               has_availability               |      0.0       |
| 51 |               availability_30                |      0.0       |
| 52 |               availability_60                |      0.0       |
| 53 |               availability_90                |      0.0       |
| 54 |               availability_365               |      0.0       |
| 55 |            calendar_last_scraped             |      0.0       |
| 56 |              number_of_reviews               |      0.0       |
| 57 |            number_of_reviews_ltm             |      0.0       |
| 58 |            number_of_reviews_l30d            |      0.0       |
| 59 |                 first_review                 |     26.69      |
| 60 |                 last_review                  |     26.69      |
| 61 |             review_scores_rating             |     26.67      |
| 62 |            review_scores_accuracy            |     27.74      |
| 63 |          review_scores_cleanliness           |     27.72      |
| 64 |            review_scores_checkin             |     27.75      |
| 65 |         review_scores_communication          |     27.73      |
| 66 |            review_scores_location            |     27.76      |
| 67 |             review_scores_value              |     27.76      |
| 68 |                   license                    |     92.42      |
| 69 |               instant_bookable               |      0.0       |
| 70 |        calculated_host_listings_count        |      0.0       |
| 71 | calculated_host_listings_count_entire_homes  |      0.0       |
| 72 | calculated_host_listings_count_private_rooms |      0.0       |
| 73 | calculated_host_listings_count_shared_rooms  |      0.0       |
| 74 |              reviews_per_month               |     26.69      |
+----+----------------------------------------------+----------------+

In [63]:
listings[["maximum_nights","minimum_maximum_nights"]]

False

## Checking out host acceptance rate, response rate and response time

In [82]:
'''Host acceptance rate har høy NaN verdi, men spørsmålet er om dette stammer fra manglende data eller bare 
at hosten ikke har hatt noen anmeldelse ennå. Dersom en host har en first_review burde han også ha en
acceptance rate, siden han da har godtatt minst ett opphold. Ser at det er mange steder der NaN opptrer 
sammen med en faktisk dato for first review --> missing values forårsaker NaN verdier. 
'''

listings[["host_acceptance_rate", "first_review"]]

      host_acceptance_rate first_review
0                      NaN   2016-08-14
1                      NaN          NaN
2                      NaN          NaN
3                      NaN   2018-01-07
4                     100%   2017-12-30
...                    ...          ...
38787                  94%   2019-05-08
38788                  NaN   2016-03-28
38789                  NaN   2015-12-04
38790                 100%   2021-11-15
38791                 100%   2022-09-30

[38792 rows x 2 columns]

In [87]:
#Ser samme for response time og response rate, at de har flere reviews men likevel 
#har null info på responsstatistikk. Missing values.

listings[["host_response_rate", "host_response_time", "number_of_reviews"]]

      host_response_rate  host_response_time  number_of_reviews
0                    NaN                 NaN                  5
1                    NaN                 NaN                  0
2                    NaN                 NaN                  0
3                    NaN                 NaN                  2
4                    NaN                 NaN                 88
...                  ...                 ...                ...
38787               100%  within a few hours                 18
38788                NaN                 NaN                  1
38789                NaN                 NaN                  7
38790                90%        within a day                  5
38791                90%        within a day                  3

[38792 rows x 3 columns]

In [83]:
# ser at 0% ikke er en verdi, altså kan det være at NaN også representerer 0% i tillegg til missing values.

listings["host_acceptance_rate"].unique()

array([nan, '100%', '99%', '0%', '95%', '96%', '98%', '33%', '86%', '48%',
       '60%', '97%', '25%', '67%', '39%', '62%', '63%', '75%', '85%',
       '91%', '57%', '80%', '94%', '58%', '71%', '38%', '88%', '89%',
       '47%', '90%', '93%', '73%', '43%', '32%', '23%', '52%', '50%',
       '81%', '92%', '40%', '6%', '14%', '77%', '76%', '79%', '84%',
       '53%', '3%', '83%', '72%', '70%', '37%', '46%', '19%', '68%',
       '29%', '27%', '51%', '74%', '87%', '54%', '56%', '26%', '41%',
       '31%', '36%', '82%', '65%', '12%', '78%', '9%', '17%', '61%',
       '59%', '20%', '18%', '44%', '64%', '24%', '69%', '28%', '8%',
       '30%', '35%', '55%', '66%', '13%', '5%', '22%', '45%', '7%', '11%',
       '15%', '21%', '10%', '42%', '34%', '49%', '16%', '4%'],
      dtype=object)

## Checking out NaN values in reviews

In [97]:
## Comparing number of reviews to missing values in review features. The conditoon checks if the number
# of review column has a value different from zero when review scores rating is NaN

# Check condition for rating having NaN and no_reviews having 0
condition_A = (listings['review_scores_rating'].isna() & (listings['number_of_reviews'] != 0))


result = condition_A.sum()

result

0

In [98]:
## Comparing number of reviews to missing values in review features. The conditoon checks if the number
# of review column has a value different from zero when review scores rating for accuracy is NaN

# Check condition for rating having NaN and no_reviews having 0
condition_A = (listings['review_scores_accuracy'].isna() & (listings['number_of_reviews'] != 0))


result = condition_A.sum()

result

415

In [99]:
## Comparing number of reviews to missing values in review features. The conditoon checks if the number
# of reviews has a value different from zero when review scores rating for cleanliness is NaN

# Check condition for rating having NaN and no_reviews having 0
condition_A = (listings['review_scores_cleanliness'].isna() & (listings['number_of_reviews'] != 0))


result = condition_A.sum()

result

405

In [100]:
## Comparing number of reviews to missing values in review features. The conditoon checks if the number
# of review column has a value different from zero when review scores rating for accuracy is NaN

# Check condition for rating having NaN and no_reviews having 0
condition_A = (listings['review_scores_checkin'].isna() & (listings['number_of_reviews'] != 0))


result = condition_A.sum()

result

419

In [103]:
## Comparing number of reviews to missing values in review features. The conditoon checks if
# review rating accuracy is NaN when total rating score is not NaN. We see that the number of times
# this occurs is the same as for the number of times the listing has more than zero reviews. This means
# that there are some listing where only an overall rating is given, not a detailed rating. Is this possible?

# Check condition for rating having NaN and no_reviews having 0
condition_A = (listings['review_scores_accuracy'].isna() & (listings['review_scores_rating'].notna()))


result = condition_A.sum()

result

415

### Checking out min and max number of nights annd min_max, max_min, min_min and max_max

In [67]:
count_diff = (listings['maximum_nights'] != listings['minimum_maximum_nights']).sum()
count_diff

6902

In [69]:
count_diff = (listings['minimum_nights'] != listings['maximum_minimum_nights']).sum()
count_diff

1815

In [71]:
count_diff = (listings['minimum_nights'] != listings['minimum_minimum_nights']).sum()
count_diff

766

In [72]:
count_diff = (listings['maximum_nights'] != listings['maximum_maximum_nights']).sum()
count_diff

6243

In [78]:
listings[["maximum_nights","maximum_nights_avg_ntm"]]

       maximum_nights  maximum_nights_avg_ntm
0                  30                    30.0
1                1125                  1125.0
2                1125                  1125.0
3                1125                  1125.0
4                 180                  1125.0
...               ...                     ...
38787              30                    30.0
38788            1125                  1125.0
38789            1125                  1125.0
38790             180                   180.0
38791             180                   180.0

[38792 rows x 2 columns]